
h1{
  font-family: 'Barlow', sans-serif;

  font-size: 80px;
  text-align: center;
  color: white;
}
#menu{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  position: fixed;
  top: 40px;
  right: 40px;
  background-color: transparent;
  border: transparent;
}
#main {
  transition: margin-right .5s;
  padding: 16px;
  color: white;
}
button:focus{
  outline: 0;
}
.first{
  height: 100vh;
width: 100%;
display: flex;
vertical-align: middle;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
}
body{
  background-color: black;
}
.picHome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
    height: 100vh;
    z-index: -1;
}

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
#thanks {
  background-color: black;
  height: 100vh;
width: 100%;
  /* margin-bottom: 80px; */
}
#thanks::after {
  content: none;
}
#thanks h2{
  color: white;
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
  letter-spacing: 22px;
  margin-bottom: 0px;
  font-family: 'Barlow', sans-serif;

}
.line{
  width: 300px;
  border: 2px solid white;
  margin-top: 50px;
}
.flexLine{
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanks h3{
  color: white;
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
    letter-spacing: 0px;
    font-family: 'Barlow', sans-serif;

}
#thanks .end{
  color: white;
  margin-top: 100px;
  /* margin-bottom: 100px; */
  font-size: 30px;
  text-align: center;
    letter-spacing: 0px;
    font-family: 'Barlow', sans-serif;

}
#thanks h3:hover{
  letter-spacing: 22px;
  cursor: pointer;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
h4{
  color: black;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font-family: 'Barlow', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 2;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
    font-family: 'Barlow', sans-serif;
}

.sidenav a:hover {
  color: #6356F4;
  transform: scale(1.2);
}

a{
  margin-bottom: 20px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.item{
              /* display: inline-block; */
              /* vertical-align: top; */
              padding: 12px;
              z-index: 1;
          }
          .animated{
              -webkit-animation-duration:1s;
              animation-duration:1s;
              -webkit-animation-fill-mode:both;
              animation-fill-mode:both
          }

          @-webkit-keyframes fadeInRight{
              0%{
                  opacity:0;
                  /* -webkit-transform:translateX(200px);
                  transform:translateX(200px) */
              }
              100%{
                  opacity:100;
                  /* -webkit-transform:translateX(0);
                  transform:translateX(0) */
              }
          }
          @keyframes fadeInRight{
              0%{
                  opacity:0;
                  /* -webkit-transform:translateX(200px);
                  -ms-transform:translateX(200px);
                  transform:translateX(200px) */
              }
              100%{
                  opacity:100;
                  /* -webkit-transform:translateX(0);
                  -ms-transform:translateX(0);
                  transform:translateX(0) */
              }
          }
          .fadeInRight{
              -webkit-animation-name:fadeInRight;
              animation-name:fadeInRight
          }

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
